.countdown-timer {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Pixel";
    color: white;
    font-size: 35px;
    margin:auto
}

.countdown-timer span {
    margin-left: 2px;
    margin-right: 2px;
}

.two-numbers {
    width: 2ch;
}
