.row-content {
    /* text-align: center;
    color: white; */
    text-align: center;
    color: white;
    width: 500px;
    margin:auto;
    border: 2px solid white;
    justify-items: center;
    align-items: center;
}

.contactButton {
    background-color: transparent;
    color: white;
    border: 2px solid white;
    border-radius: 10%;
}