.site-footer {
  text-align: center;
  background-image: radial-gradient(#1b1b1b, #000000);
  color: white;
  justify-content: center;
  align-items: center;
  margin:auto;
}

.bigLine {
  border: 1px solid white;
 }

.linksColor{
    color: white;
}

.links{
    color: white;
}
