.cardTitle {
    color: white;
    font-size: 35px;
    text-align: center;
    border: 2px solid white;
    width: 500px;
    margin: auto;
}

.cardText {
    color: white;
    text-align: center;
}

.bikBox {
    background: rgb(46, 46, 46);
    width: 700px;
    margin: auto;
}